---
title: Sean Yeh - Code
---

<div class="center-box">
    <div class="break"></div>

    <p>
    I am a
    <a href="https://en.wikipedia.org/wiki/Free_software">free software</a>
    enthusiast and
    <a href="https://www.archlinux.org">Arch</a> user, and I develop apps and software in my free time.
    </p>

    <p>
    I also <a href="/teaching">teach</a> computer science at Northwestern
    University's Center for Talent Development.
    </p>

    <p>
    My programming interests include game development, programming languages
    and compilers, internet security, and media art.
    </p>

    <h2>Selected Projects</h2>

    <div class="box-container">
        <%= gen_project_item("clefheroes", box_class: "box-2", title:"Clef Heroes", desc: "An educational music game for Android/iPhone", url: "https://clefheroes.seanyeh.com/") %>
        <%= gen_project_item("nuevents", box_class: "box-2", title:"NUEvents API", desc: "Unofficial Northwestern Events API", url: "https://nuevents.seanyeh.com") %>
    </div>

    <div class="break"></div>

    <div class="box-container">
        <%# lazynotes, autosrc, piles, fbmsgsplit, composer-predictor, cpi%>

        <%= gen_project_item("lazynotes", title:"lazynotes", desc: "Monthly Music Hackathon NYC (Aug 2013)", url: "http://lazynotes.seanyeh.com") %>
        <%= gen_project_item("autosrc", title:"autosrc", desc: "Auto-run shell commands based on directory", url: "https://github.com/seanyeh/autosrc") %>
        <%= gen_project_item("piles", title:"piles", desc: "CLI tool for displaying disk usage", url: "https://github.com/seanyeh/piles") %>
        <%= gen_project_item("fbmsgsplit", title:"fbmsgsplit", desc: "CLI tool for managing Facebook chat archives", url: "https://github.com/seanyeh/fbmsgsplit") %>
        <%= gen_project_item("composer-predictor", title:"composer-predictor", desc: "Machine learning to predict a composer", url: "https://github.com/seanyeh/composer-predictor") %>
        <%= gen_project_item("cpi", title:"cpi", desc: "C compiler for the Raspberry pi", url: "https://github.com/niketkandya/plt2013") %>
    </div>

    <p>
    Other projects can also be found on my
    <a href="https://github.com/seanyeh">Github</a>.
    </p>

    <h2>
        Media art and performance projects
    </h2>

    <div>
    <p>
    My technology projects involving media art or music performance can be found
    <a href="/music/#media-art">here</a>.
    </p>
    </div>

</div>

